.body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 20px;
}

.logo {
    justify-content: left;
    align-items: center;
    color: white;
}

.links {
    display: flex;
    justify-content: right;
    gap: 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}    

a {
    text-decoration: none;
    color: #e5e7eb;
    
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 100px;
}

.main_text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    max-width: 400px;

}

.sec_text {
    font-size: 16px;
    font-weight: lighter;
    color: #e5e7eb;
}

.hero_button button{
    background-color: #3882f6;
    font-weight: bold;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

.logo_text {
    justify-content: center;
    align-content: center;
    background-color: rgb(143, 143, 143);
    font-size: 24;
    color: #f9faf8;
    padding: 100px;

}

img {
    width: 100px;
    height: 100px;

  }
  
  .title {
    align-self: center;
    font-size: 36px;
    font-weight:bolder;
    margin: 32px;
    color: #1f2937;
  }
  
  .content {
    display: flex;
    justify-content: center;
    gap: 52px;
  
  }
  
  .info {
    max-width: 200px;
    margin-bottom: 30px;
  }

  .quote {
    background-color: #e5e7eb;
    font-size: 36px;
    padding: 100px;
  }

  .quote .text {
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
   

  }

  .quote .author {
    font-size: 30px;
    display: flex;
    justify-content: right;
    font-weight: bold;
  }

  .sign_up{
    padding: 100px;
  }

  .header_text {
    align-content: center;
    justify-content: center ;
    background-color:#3882f6;
    padding: 50px;
    border-radius:12px;
    
  }

  .signup_text {
    display: flex;
    gap: 100px;
  }

  .signup_button {
    border-color:white;
    border-width: 2px;
  }

  
